<div id="account">
	<div class="container" style="background-color:#1e1e1e; padding:15px; border-radius:7px;">
		<div class="col-lg-12" style="text-align:left;"> 
			<h2>Account Settings</h2>
			<div *ngIf="showmessage" class="alert alert-success" role="alert">{{message}}</div>
			<div *ngIf="showerror" class="alert alert-danger" role="alert">{{error}}</div>
		</div>
		<div class="col-lg-12" style="text-align:center;">
				<span class="btn btn-default btn-file">
					Change Profile Picture<input type="file" accept="image/*" (change)="changeListener($event)">
				</span><br>
				<div class="loader" *ngIf="!picloaded">Loading...</div>
				<img *ngIf="picloaded" src="{{user?.image_url}}"  style="height:400px; width:auto; border-radius:7px; text-align:center;" alt="">
		</div>
		<hr style="max-width:100%; width:100%:">
		<label>Username: </label>
		<div class="loader" *ngIf="!nameloaded">Loading...</div>
        <div class="form-group" *ngIf="nameloaded">
			<div class="input-group">
			    <input type="text" class="form-control" [(ngModel)]="newname" placeholder="{{user?.username}}">
			  	<span class="input-group-addon" id="basic-addon2" (click)="changeUsername(newname); newname = '';">Change Name</span>
			</div>
		</div>

		<label>Email: </label>
		<div class="loader" *ngIf="!emailloaded">Loading...</div>
        <div class="form-group" *ngIf="emailloaded">
			<div class="input-group">
			    <input type="email" class="form-control" [(ngModel)]="newemail" placeholder="{{user?.email}}">
			  	<span class="input-group-addon" id="basic-addon2" (click)="changeEmail(newemail); newemail = '';">Change Email</span>
			</div>
		</div>
		
		<label>Description: </label>
		<div class="loader" *ngIf="!descloaded">Loading...</div>
        <div class="form-group" *ngIf="descloaded">
			<div class="input-group">
                <textarea class="form-control" rows="7" [(ngModel)]="newdescription" placeholder="{{user?.description}}"></textarea>
			  	<span class="input-group-addon" id="basic-addon2" (click)="changeDescription(newdescription); newdescription = '';">Change Description</span>
			</div>
		</div>

        <button 
			routerLink="changepassword"
			type="button" 
			class="btn btn-primary btn-block btn-md" 
			style="color:rgb(149, 107, 185); border-color:rgb(149, 107, 185); width:150px;">
			Change Password
		</button>

	</div>
	
</div>