<div id="forgotpass" class="text-center">
	<h2>Reset Your Password</h2>
	<span><p>(You will be emailed a reset code. Use this code to reset your password. KEEP THIS WINDOW OPEN)</p></span>
	<hr>
	<div class="container-fluid"> 
		<div class="col-lg-12 text-center" *ngIf="emailform">
			<div class="col-lg-6 text-center" style="margin:auto; float:none;">
				<label>Email</label>
				<input type="email" [(ngModel)]="email" class="form-control" placeholder="Email..."><br>
				<button 
					(click)="submitEmail()"
					type="button" 
					class="btn btn-primary btn-block btn-md" 
					style="color:rgb(149, 107, 185); border-color:rgb(149, 107, 185);">
					Send Email <i class="ion-android-arrow-forward"></i>
				</button>
			</div><br>
		</div>
		<div class="col-lg-12" *ngIf="showform">
			<div class="col-lg-6" style="margin:auto; float:none;">
		        <label>Reset Token (If you can't find it in your email check your spam folder)</label>
		        <input type="text" [(ngModel)]="reset_token" class="form-control" placeholder="Reset token...">
				<br>
		        <label>New Info</label>
		        <input type="password" [(ngModel)]="password" class="form-control" placeholder="New Password">
		        <input type="password" [(ngModel)]="validate_password" class="form-control" placeholder="Repeat New Password">
		        <br>
		        <button 
					(click)="changePassword()"
					type="button" 
					class="btn btn-primary btn-block btn-md" 
					style="color:rgb(149, 107, 185); border-color:rgb(149, 107, 185);">
					Change Password <i class="ion-android-arrow-forward"></i>
				</button>
			</div>
		</div>
		<div class="col-lg-12" *ngIf="returnform">
			<div class="col-lg-6" style="margin:auto; float:none;">
		        <div class="alert alert-info" role="alert">Password successfully changed! Click the button below to log in.</div>
		        <br>
		        <button 
					routerLink=""
					type="button" 
					class="btn btn-primary btn-block btn-md" 
					style="color:rgb(149, 107, 185); border-color:rgb(149, 107, 185);">
					Return <i class="ion-android-arrow-forward"></i>
				</button>
			</div>
		</div>
	</div>
</div>
