
#forgotpass {
	padding-top:70px;
}

.container-fluid {
	background-color:#232323;
	padding: 15px;
}

.alert-info {
    color: #d3d3d3;
    background-color: rgb(149, 107, 185);
    border-color: #33164c;
}
