#forums{
	padding-top:70px;
}
#forums .col-lg-8 {
	float:none;
	margin:auto;
}

#forums .panel {
    border:0;

}

#forums .panel-heading {
    background-color:rgb(12, 11, 17);
    border:0;
}

#forums .panel-title {
    color:white;
    font-weight:700;
}

#forums .panel-body {
    background-color:rgb(12, 11, 17);
    max-height:70px;
    height:70px;
    overflow-y: scroll;
}


