#forums{
	padding-top:15%;
}
#forums .col-lg-8 {
  float: none;
  margin: auto;
}

#forums .panel-heading {
    background-color:rgb(12, 11, 17);
}

#forums .panel-title {
    color:white;
    font-weight:700;
}

#forums .panel{
    border:0;
    background-color:rgb(12, 11, 17);
    padding:10px;
    min-height:100px;
    height:170px;
    overflow-y: scroll;
}


