<!-- Opening Page -->
<div class="content-home-init" *ngIf="!showlist">
   <div class="container-fluid">
       <div class="row text-center">
           <h2>Whatcha looking for?</h2>
           <hr style="width:100%; max-width:100%; border-color:#000000;">
       </div>
       <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 col-lg-offset-1">
           <h2 style="text-align:center;">Items</h2><hr> 
           <div class="col-lg-6 media wow fadeInLeft" *ngFor="let type of content_types; let i = index;">
               <div class="media" (click)="openList(type.ID)">
                 <div class="media-left media-middle">
                   <div class="">
                     <img class="media-object floating" [src]="type.image_url" (mouseover)="switchTypeImage(type, i)" (mouseout)="switchTypeImage(type, i)" style="width:64px; height:64px;" alt="...">
                   </div>
                 </div>
                 <div class="media-body">
                   <h4 class="media-heading hidden-xs">{{type.name}}</h4>
                 </div>
               </div>
           </div>
       </div>
       <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <h2 style="text-align:center;">Other</h2><hr>
            <div class="col-lg-6 media wow fadeInRight" *ngFor="let category of categories; let i = index;">
               <div class="media" (click)="openList(category.source, 'non-item')">
                 <div class="media-left media-middle">
                   <div class="">
                     <img class="media-object floating" [src]="category.image_url" (mouseover)="switchCategoryImage(category, i)" (mouseout)="switchCategoryImage(category, i)" style="width:64px; height:64px;" alt="...">
                   </div>
                 </div>
                 <div class="media-body">
                   <h4 class="media-heading hidden-xs">{{category.name}}</h4>
                 </div>
               </div>
           </div>
       </div>
       <!-- <div class="col-lg-3 text-center">
           <h3>Are we missing something?</h3>
           <p>Click an option below to contribute!</p>
           <a href="#latest" class="btn btn-primary btn-xl">Item</a>
           <a href="#latest" class="btn btn-primary btn-xl">Other Content</a>
       </div> -->
   </div>
</div>
<!-- End Opening Page -->

<div class="content-home" *ngIf="showlist">
	    <div id="wrapper">
        <div class="overlay"></div>
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                       
                    </a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Items <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Item Types</li>
                    <li *ngFor="let type of content_types">
                    	<a (click)="menuToggle(type.ID, type.name)">{{type.name}}</a>
                    </li>
                  </ul>
                </li>
                <li *ngFor="let category of categories">
                    <a (click)="menuToggle(category.source,'non-item', category.name)">{{category?.name}}</a>
                </li>
                <hr>
                <span class="text-center">
                  <h3>Rarity Colors</h3>
                </span>
                <p [ngStyle]="{'background-color':1 | itemRarity:'rare_color'}" class="rarity-key"><span [ngStyle]="{'color':1 | itemRarity:'font_color'}">Common</span></p>
                <p [ngStyle]="{'background-color':2 | itemRarity:'rare_color'}" class="rarity-key"><span [ngStyle]="{'color':2 | itemRarity:'font_color'}">Uncommon</span></p>
                <p [ngStyle]="{'background-color':3 | itemRarity:'rare_color'}" class="rarity-key"><span [ngStyle]="{'color':3 | itemRarity:'font_color'}">Rare</span></p>
                <p [ngStyle]="{'background-color':4 | itemRarity:'rare_color'}" class="rarity-key"><span [ngStyle]="{'color':4 | itemRarity:'font_color'}">Epic</span></p>
                <p [ngStyle]="{'background-color':5 | itemRarity:'rare_color'}" class="rarity-key"><span [ngStyle]="{'color':5 | itemRarity:'font_color'}">Legendary</span></p>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->
        
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" (click)="menuToggle()" data-toggle="offcanvas">
                <span class="hamb-top"></span>
    			<span class="hamb-middle"></span>
				<span class="hamb-bottom"></span>
            </button>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2>{{title}}</h2>    
                        <br>              
                    </div>
                </div>
                <!-- Sort and Search -->
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-xs-6 text-center" >
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Search {{title}}" [(ngModel)]="filter" style="border-radius:5px;">
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-xs-6 text-center" >
                        <div class="input-group" style="display:block;">
                            <button type="button" data-toggle="modal" href="#calculatorModal" style="border-color:rgb(149, 107, 185); border-radius:7px" class="btn btn-primary btn-md">
                                Build a Set!
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 hidden-xs text-center" >
                        <select [(ngModel)]="filtertype" name="search" placeholder="Select A Filter" class="ui fluid search selection dropdown">
                            <option value="alpha">Alphabetical</option>
                            <option value="name">Reverse Alphabetical</option>
                            <option value="ID">Most Recent</option>
                            <option value="level" *ngIf="itemType == 1">Level</option>
                            <option value="rarity" *ngIf="itemType == 1">Rarity</option>
                            <option value="health" *ngIf="itemType == 1">Health</option>
                            <option value="mana" *ngIf="itemType == 1">Mana</option>
                            <option value="attack" *ngIf="itemType == 1">Attack</option>
                            <option value="defense" *ngIf="itemType == 1">Defense</option>
                            <option value="crit" *ngIf="itemType == 1">Crit</option>
                            <option value="hit" *ngIf="itemType == 1">Hit</option>
                            <option value="crit_power" *ngIf="itemType == 1">Crit Power</option>
                            <option value="dodge" *ngIf="itemType == 1">Dodge</option>
                        </select>
                    </div>
                </div><br>
             
                <div class="row">
					        <div class="loader" *ngIf="!items || !items.length">Loading...</div>
                	<div class="col-lg-4 text-center" *ngFor="let item of (items | search:filter | sort:filtertype) ">
                        <!-- The detail page HTML router outlet and the modal code is in app.component.html -->
                		<div class="alert" data-toggle="modal" href="#contentModal" [ngStyle]="{'background-color':item?.rarity | itemRarity:'rare_color'}" role="alert" (click)="openDetail(item.ID)">
                            <h3 *ngIf="item.rarity" class="panel-title" [ngStyle]="{'color':item?.rarity | itemRarity:'font_color'}">{{item?.name}} <small style="font-size:12px">(lvl.{{item?.level}})</small></h3>
							              <h3 *ngIf="!item.rarity" class="panel-title" [ngStyle]="{'color':99 | itemRarity:'font_color'}">{{item?.name}}</h3>
                		</div>
                	</div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Popup for Build Stat Calculator -->
    <div id="calculatorModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="max-width:100%; width:90%;">
            <div class="modal-content">
                <div class="modal-body">
                    <calculator></calculator>
                </div>
            </div>
        </div>
    </div>

</div>




