
<div class="content-home">
   <div class="container-fluid">
       <div class="row text-center">
           <h2>Whatcha looking for?</h2>
           <hr style="width:100%; max-width:100%; border-color:#000000;">
       </div>
       <div class="col-lg-5 text-center">
           <h2>Items</h2><hr> 
           <div class="col-lg-6 media wow fadeInLeft" *ngFor="let type of types">
               <div class="media" (click)="openList(type.ID)">
                 <div class="media-left media-middle">
                   <div class="">
                     <img class="media-object floating" src="http://placehold.it/64x64" alt="...">
                   </div>
                 </div>
                 <div class="media-body">
                   <h4 class="media-heading">{{type.name}}</h4>
                 </div>
               </div>
           </div>
       </div>
       <div class="col-lg-4 text-center">
            <h2>Other Content</h2><hr>
            <div class="col-lg-6 media wow fadeInRight" *ngFor="let category of categories">
               <div class="media" (click)="openList(category.source)">
                 <div class="media-left media-middle">
                   <div class="">
                     <img class="media-object" src="http://placehold.it/64x64" alt="...">
                   </div>
                 </div>
                 <div class="media-body">
                   <h4 class="media-heading">{{category.name}}</h4>
                 </div>
               </div>
           </div>
       </div>
       <div class="col-lg-3 text-center">
           <h3>Are we missing something?</h3>
           <p>Click an option below to contribute!</p>
           <a href="#latest" class="btn btn-primary btn-xl">Item</a>
           <a href="#latest" class="btn btn-primary btn-xl">Other Content</a>
       </div>
   </div>
</div>




