#home  {
  padding-top:70px;
  font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #d3d3d3;
    webkit-tap-highlight-color: #222;
    background-attachment: fixed;
    min-height:100%;
    background-color:#16141f;
}

#home .well-form {
	border:none;
	padding:5px;
}

#home .input-icon {
    font-size:30px;
    margin-right:8px;
    opacity:0.5;
    transition: opacity 250ms ease-in;
}

#home .input-icon:hover {
    opacity:1;
}

#home .post-submit {
    background-color: rgb(149, 107, 185);
    float:left;
    border-radius:7px;
    color:rgb(0,0,0);
    transition: opacity 250ms ease-in;
    opacity:0.50;
}

#home .post-submit:hover, #home .post-submit:click {
    background-color: rgb(149, 107, 185) !important;
    color:rgb(0,0,0);
    opacity:1;
}

#home .panel, #home .panel-heading {
    background-color:#2d2638 !important;
    border:0px;
    border-radius:0px;
}

#home .panel {
    margin-bottom:8px;
    box-shadow: 0px 0px 2px #000;
}

#home .panel-body {
  background-color:#3b324a;
}
#home .post-body>p {
    color:#a7a7a7;
}

#home .btn-circle.btn-xl {
  text-align:center;
  width: 45px;
  height: 45px;
  padding: 10px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 50%;
  bottom:30px; 
  right:40px; 
  position:fixed; 
  z-index:10000;
  background-color:#956bb9;
  transition:box-shadow 1s ease-in;
  color:#1e1e1e;
}


#home .btn-circle.btn-xl: hover{
    box-shadow:0px 0px 10px red;
}

#home .btn-file {
    position: relative;
    overflow: hidden;
    background-color:rgba(0,0,0,0);
    padding:5px;
}
#home .btn-file:hover{
  background-color:rgba(0,0,0,0);
}
#home .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    /*min-width: 100%;
    min-height: 100%;*/
    /*font-size: 100px;*/
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}

#home .post-image-single {
  margin:auto;
  width:auto;
  max-height:500px;
  border:1px solid #100d13;
}

#home .post-image-double {
  margin:auto;
  border:1px solid #100d13;
}
#home .post-image-multi {

  margin:auto;
  max-height:400px;
  width:auto;
}
#home .post-image-container {
  padding-left:60px;
  padding-right:60px;
}
#home .post-image-container-carousel {
  padding-left:0;
  padding-right:0;
}
#home .carousel-inner {
  height:400px;
}
#home .carousel-control.left, #home .carousel-control.right{
    background:transparent;
    background-image:none;
}

#home .carousel-control.left {
  right:0;
}

#home .well.images {
    min-height: 20px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #1f1a25;
    /* border: 1px solid #e3e3e3; */
    border:0;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 1) !important;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 1) !important;
}



#home .load-2 .line:nth-last-child(1) {animation: loadingB 1.5s 1s infinite;}
#home .load-2 .line:nth-last-child(2) {animation: loadingB 1.5s .5s infinite;}
#home .load-2 .line:nth-last-child(3) {animation: loadingB 1.5s 0s infinite;}


#home .line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    /*background-color: #4b9cdb;*/
}

@keyframes loadingB {
    0 {width: 15px;}
    50% {width: 35px;}
    100% {width: 15px;}
}

#home .remove-upload {
  color:#a74040; 
  font-size:9px;
  transition: color 300ms ease-in;
  cursor:pointer;
}
#home .remove-upload:hover {
  color:#902323;
}
#home .btn.btn-primary {
   color:#16141f;
   border-color:#16141f;
   border-radius: 50%;
   padding: 0px 6px;
   transition:padding 200ms ease-in;
}

#home .open>.dropdown-menu {
    display: block;
    background-color: rgba(0, 0, 0, 0.85);
    color:#956bb9;
}


#home .btn-primary:hover {
    color: #956bb9;
    background-color: rgba(0, 0, 0, 0.38);
    border-color: rgba(0, 0, 0, 0.81);
    box-shadow: 0px 0px 10px #956bb9;
}
#home .btn-primary:focus, #home .open>.dropdown-toggle.btn-primary {
    color: #956bb9;
    background-color: rgba(0, 0, 0, 0.38);
    border-color: rgba(0, 0, 0, 0.81);
    box-shadow: 0px 0px 10px #956bb9;
    padding:6px 12px;
}

#home .dropdown-menu>li>a {
    color: #956bb9;
}

#home .dropdown-menu>li>a:hover {
  /*background-color:red;*/
  background-color: rgba(119, 87, 146, 0.87);
  color: #16141f;
}

#home .alert-success {
    color: #000000;
    background-color: rgba(149, 107, 185, 0.78);
    border-color: rgba(0, 0, 0, 0.67);
}