<div id="item">
	<!-- Title -->
	<div class="row">
		<div class="col-lg-4" style="text-align:left;">
			<a href="#contentModal"  data-toggle="modal">
				<span style="color:red; font-size:15px;"class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 text-center">
			<h2>{{recipe?.name}}</h2>
			<p><small>Time to Craft: {{recipe?.crafting_time}}</small></p>
		</div>
	</div>
	<br>
	<!-- Images -->
	<div class="row">
		<div class="col-lg-12 text-center">
			<img *ngIf="recipe?.images[0].image_url" style="height:300px; width:auto; border-radius:7px;" src="{{recipe?.images[0]?.image_url}}" alt="{{recipe?.name}}'s Image">
		</div>			
	</div>

	<hr class="full-length">

	<!-- Dropdown Options -->
	<div class="row">
		<div class="col-lg-12">
			
			<!-- Cost (Non-Paid) -->
			<div class="col-lg-3" *ngIf="recipe?.recipes_requirements.length > 0">
				<div class="panel panel-info">
					<div class="panel-heading panel-content">
						<h3 class="panel-title">Cost (Non-Paid)</h3>
					</div>
					<ul class="list-group">
						<li class="list-group-item">
							Gold: {{recipe.cost}}
						</li>
						<li *ngFor="let item of recipe.recipes_requirements" class="list-group-item"
							(click)="openRoute(item.ID, 'items')">{{item.name}} x{{item.multiplier}}</li>	
					</ul>
				</div>
			</div>

			<!-- Cost (Paid) -->
			<div class="col-lg-3" *ngIf="recipe?.cost_gem > 0">
				<div class="panel panel-info">
					<div class="panel-heading panel-npc">
						<h3 class="panel-title">Cost (Paid)</h3>
					</div>
					<ul class="list-group">
						<li class="list-group-item">
							Dragon Gems: {{recipe.cost_gem}}
						</li>
					</ul>
				</div>
			</div>

			<!-- Reward -->
			<div class="col-lg-3" *ngIf="recipe?.content.length > 0">
				<div class="panel panel-info">
					<div class="panel-heading panel-monster">
						<h3 class="panel-title">Reward</h3>
					</div>
					<ul class="list-group">
						<li *ngFor="let item of recipe.content" class="list-group-item" (click)="openRoute(item.ID, 'items')">{{item.name}} x{{item.multiplier}}</li>
					</ul>
				</div>
			</div>

			<!-- Locations -->
			<div class="col-lg-3" *ngIf="recipe?.locations.length > 0">
				<div class="panel panel-info">
					<div class="panel-heading panel-location">
						<h3 class="panel-title">Locations</h3>
					</div>
					<ul class="list-group">
						<li *ngFor="let location of recipe.locations" class="list-group-item"
							(click)="openRoute(location.ID, 'locations')">{{location.name}}</li>	
					</ul>
				</div>
			</div>

			<!-- Craft Shops -->
			<div class="col-lg-3" *ngIf="recipe?.craftshoppes.length > 0">
				<div class="panel panel-info">
					<div class="panel-heading panel-craftshop">
						<h3 class="panel-title">Craft Shops</h3>
					</div>
					<ul class="list-group">
						<li *ngFor="let craftshop of recipe.craftshoppes" class="list-group-item"
							(click)="openRoute(craftshop.ID, 'craftshoppes')">{{craftshop.name}}</li>	
					</ul>
				</div>
			</div>


		</div> 
	</div> 

	<!-- Last Edit/Notes -->
	<div class="row">
		<div class="col-lg-4 col-lg-offset-8" style="text-align:right;">
			<p><small>Last edited by {{recipe?.last_edit}}</small></p>
		</div>
	</div>

</div>