<nav id="topNav" class="navbar navbar-default navbar-fixed-top">
    <marquee class="server-stats" behavior="scroll" direction="left" onbounce="test()">
        <span *ngFor="let server of servers" style="margin-right:30px;">
            <span *ngIf="server.State && !(server.IP == '127.0.0.1')">
                {{server.Name}} [<span style="color:green;">Online</span>]: {{server.UserCount}} Players Online | Last Update: {{server.LastUpdated | timeAgo}}
            </span>
        </span>
    </marquee>

    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll"  routerLink="home"> AQConnect </a>
        </div>
        <div class="navbar-collapse collapse" id="bs-navbar">
            <ul class="nav navbar-nav">
                <li [routerLinkActive]="['active']">
                    <a routerLink="home">Home</a>
                </li>
                <li [routerLinkActive]="['active']">
                    <a routerLink="content">Content</a>
                </li>
                <li id="news" [routerLinkActive]="['active']">
                    <a routerLink="news">News</a>
                </li>
                <li id="forums" [routerLinkActive]="['active']">
                    <a routerLink="forums">Forums</a>
                </li>
                <li id="users" [routerLinkActive]="['active']">
                    <a routerLink="users">Users</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" style="margin-right:20px;">
                  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" 
                      [ngClass]="{'notification-indicator-active': notification_check}"><i class="fa fa-bell" aria-hidden="true" style="font-size:20px;"></i></a>
                  <ul class="dropdown-menu">
                    <li>
                        <a style="color:#de4d4d;" (click)="clearAllNotifications()">
                            Clear All
                        </a>
                    </li>
                    <li *ngFor="let notification of notifications" (click)="readNotification(notification.ID)" [ngStyle]="{'background-color': !notification?.read ? 'rgba(135, 98, 166, 0.54)' : '' } ">
                        <a>
                            <span class="glyphicon glyphicon-heart" aria-hidden="true" style="margin-right:3px;"></span>
                            <b>{{notification.notifier_name}}</b> {{notification.text}}
                        </a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown dropdown-account" style="margin-right:20px;">
                  <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a> -->
                  <img class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="height:50px; width:auto; margin-top:5px; border-radius:7px;" src="{{user?.image_url}}" alt="">
                  <ul class="dropdown-menu">
                    <li><a routerLink="account">Account Settings</a></li>
                    <!-- <li><a href="#">Site Customization</a></li> -->
                    <li role="separator" class="divider"></li>
                    <!-- <li><a href="#">Notifications</a></li> -->
                    <li><a routerLink="userforumposts">My Forum Posts</a></li>
                    <!-- <li><a href="#">My Timeline</a></li> -->
                    <li role="separator" class="divider"></li>
                    <li><a style="color:#fb6464;" (click)="logout()">Log Out</a></li>
                  </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
