
/*Navbar itself*/
.navbar-default {
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.28);
    min-height: 60px;
}

/*Scrolled navbar <li> hover*/
.navbar-default.affix .nav > li>a:hover,
.navbar-default.affix .nav>li>a:focus:hover {
    color: rgb(149, 107, 185);
}

/*Style for hover navbar option*/
.navbar-default .nav > li.active>a, .navbar-default .nav>li.active>a:focus {
    color: rgb(149, 107, 185) !important;
    background-color: transparent;
    font-weight: bold;
    font-size: 17px;
}

.navbar-default.affix .navbar-header .navbar-brand {
    color: rgb(149, 107, 185);
    font-size: 18px;
    line-height: 20px;
}

/*Style for open navbar option (Same as hover) */
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: rgb(149, 107, 185) !important;
    background-color: transparent;
    font-weight: bold;
    font-size: 17px;
}

/*Background of dropdown*/
.dropdown-menu {
	background-color:rgba(0, 0, 0, 0.28);
}

/*Text color of options in dropdown*/
.dropdown-menu>li>a {
    color: #d3d3d3;
}

/*Color of active item in dropdown*/
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    background-color: rgba(149, 107, 185, 0.74);
}

/*Shows the dropdown on hover*/
.dropdown:hover .dropdown-menu {
   display: block;
}

/*<li> in the dropdown*/
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
            background-color:rgba(149, 107, 185, 0.74);
 }
 

